**/*-updated.*
.vs

content-prep.md
src/apis/ConitiveOrchestrator.API/appsettings.Development.json
src/scripts/crowdanalytics
crowdanalytics
**/*.Development.json
**/*-internal.*
**/*-aks-kubeconfig
crowdanalytics-new
src/iot/Cam.Device.Web/appsettings.Development.json
