<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Mo.Packages" value="https://gbb-appinnovation.pkgs.visualstudio.com/IntelligentExperiences.OnContainers/_packaging/Mo.Packages/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>