@{
    ViewData["Title"] = "Cam Device";
}

<div class="text-center">
    <h1 class="display-4">Cam Device</h1>
    <p>This simple ASP .NET Core MVC app capture frames from a connected webcam and save them to a folder</p>
</div>
